$teal: #009688;

header {
	width: 100%;
  height: 64px;
  background-color: $teal;
  box-shadow: #777 0px 2px 5px;
  z-index: 5;
  position: relative;

  .container {
    height: 100%;
    position: relative;
  }

  nav {
    position: absolute;
    height: 24px;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}


#logo {
  font-family: 'Quicksand', sans-serif;
  font-size: 36px;
  line-height: 36px;
  height: 40px;

  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;

  a {
    color: #eee;
    text-decoration: none;

    &:hover {
      color: #fff;
      background-color: transparent;
    }
  }
}

#navbar {
  float: left;
  margin: 0;

  > li {
    float: left;
    position: relative;
    display: block;
    margin-left: 20px;
  }

  > li > a {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #eee;
    text-decoration: none;

    &:hover {
      color: #fff;
      background-color: transparent;
    }
  }
}

#mobile-nav {
  display: none;
  color: white;

  #mobile-nav-menu {
    cursor: pointer;
  }

  #mobile-navbar {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 64px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-shadow: #888 0px 2px 5px;

    li {
      width: 100%;
      padding: 20px;
      background-color: #DDD;
      border-bottom: 1px solid #AAA;
      cursor: pointer;

      &:hover {
        background-color: #CCC;

        transition: 0.3s ease all;
        -webkit-transition: 0.3s ease all;
      }

      a {
        color: #333;
        font-family: 'Quicksand', sans-serif;
        font-size: 18px;
      }
    }
  }
}

@media screen and (max-width: 980px) {
  #mobile-nav {
    display: block;
  }

  #desktop-nav {
    display: none;
  }

  .container {
    margin: 0 5% !important;
  }

  #find-groups-searches {
    flex-wrap: wrap;
  }

  #find-events-searches {
    flex-wrap: wrap;
  }
}
