// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-newsfeed {
  margin: 20px 0;
}

.onboarding-panel {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
  background-color: #FFF;
  border-radius: 3px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
    0 1px 5px 0 rgba(0,0,0,0.12),
    0 3px 1px -2px rgba(0,0,0,0.2);

  .onboarding-panel-item {
    width: calc(25% - 10px);

    .onboarding-panel-icon {
      width: 100%;

      img {
        width: 50%;
        display: block;
        margin: 0 auto;
      }
    }

    .onboarding-panel-text {
      font-family: 'Quicksand', sans-serif;
      font-size: 28px;
      text-align: center;
      margin: 20px 0;
    }
  }
}

.home-groups-item {
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #CCC;
  background-color: #FFF;
  border-radius: 3px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
    0 1px 5px 0 rgba(0,0,0,0.12),
    0 3px 1px -2px rgba(0,0,0,0.2);

  .home-groups-item-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px 0 15px;

    .home-groups-item-title {
      font-family: 'Quicksand', sans-serif;
      font-size: 20px;
    }
  }

  .home-groups-item-body {
    padding: 15px;
  }
}

.home-newsfeed-item {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  margin-bottom: 20px;
  background-color: #FFF;
  border-radius: 3px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
    0 1px 5px 0 rgba(0,0,0,0.12),
    0 3px 1px -2px rgba(0,0,0,0.2);
}

.home-newsfeed-item-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.home-newsfeed-item-title {
  font-family: 'Quicksand', sans-serif;
  font-size: 22px;
}

.home-newsfeed-item-date {
  font-size: 12px;
}

.home-newsfeed-item-body {
  font-size: 14px;
}

#home-button {
  background-color: #009688;
  margin-top: 10px;
}
