.container {
  margin: 0 20%;
}

.center {
  text-align: center;
}

.button {
  background-color: #80CBC4;
  display: inline-block;
  border-radius: 5px;
  border-bottom: 5px solid #26A69A;

  -webkit-transition: all 0.1s;
  transition: all 0.1s;

  &:hover {
    border-bottom: 0px solid #26A69A;
    margin-top: 5px;

    -webkit-transition: all 0.1s;
    transition: all 0.1s;
  }

  a {
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    font-size: 24px;
    color: #fff;
    padding: 15px;
    display: block;
  }
}