.container {
  margin: 0 20%;
}

.center {
  text-align: center;
}

.button {
  background-color: #80CBC4;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 10px #CCC;

  -webkit-transition: all 0.05s linear;
  transition: all 0.05s linear;

  &:hover {
    box-shadow: 4px 4px 10px #CCC;

    -webkit-transition: all 0.05s linear;
    transition: all 0.05s linear;
  }

  a {
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    font-size: 24px;
    color: #fff;
    padding: 15px;
    display: block;
  }
}

input[type="submit"] {
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  padding: 10px;
  display: block;
  margin: 0 auto;

  background-color: #80CBC4;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  border: 0;

  box-shadow: 2px 2px 10px #CCC;

  -webkit-transition: all 0.05s linear;
  transition: all 0.05s linear;

  &:hover {
    box-shadow: 4px 4px 10px #CCC;

    -webkit-transition: all 0.05s linear;
    transition: all 0.05s linear;
  }
}

input.button {
  box-shadow: 2px 2px 10px #1d978c;

  -webkit-transition: all 0.05s linear;
  transition: all 0.05s linear;

  &:hover {
    box-shadow: 4px 4px 10px #1d978c;

    -webkit-transition: all 0.05s linear;
    transition: all 0.05s linear;
  }
}

a i {
  color: #333;
  
  &:hover {
    text-shadow: 2px 2px 5px #CCC;
  }
}

a {
  text-decoration: none;
}