.container {
  margin: 0 20%;
}

.center {
  text-align: center;
}

.button {
  background-color: #80CBC4;
  display: inline-block;
  border-radius: 5px;
  border-bottom: 5px solid #26A69A;
  cursor: pointer;

  -webkit-transition: all 0.05s linear;
  transition: all 0.05s linear;

  &:hover {
    border-bottom: 0px solid #26A69A;
    margin-top: 5px;

    -webkit-transition: all 0.05s linear;
    transition: all 0.05s linear;
  }

  a {
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    font-size: 24px;
    color: #fff;
    padding: 15px;
    display: block;
  }
}

input[type="submit"] {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  padding: 10px;
  display: block;
}