// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$slideDistance: 100;
$slideDuration: .4s;

@function rem($val) {
  @return #{$val / 16}rem;
}

/* Profile Page */

#profile-header {
  img {
    vertical-align: middle;
    margin-right: 10px;
    border: 5px solid #009688;
    border-radius: 3px;
    box-shadow: #888 2px 2px 10px;
  }
}

#profile-edit-button {
  margin-bottom: 20px;
  display: flex;

  .button {
    background-color: #AAA;
    border-radius: 3px;
    margin-left: auto;

    a {
      display: flex;
      color: #FFF;
      align-items: center;
      padding: 10px; 
      font-size: 18px;

      i {
        color: #FFF;

        &:hover {
          text-shadow: none;
        }
      }
    }
  }
}

#profile-about {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  margin-bottom: 20px;
  background-color: #FFF;
  border-radius: 3px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
    0 1px 5px 0 rgba(0,0,0,0.12),
    0 3px 1px -2px rgba(0,0,0,0.2);
}

#profile-about-title {
  font-size: 24px;
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 20px;
}

#profile-about-body {
  .pair {
    display: flex;
    margin: 20px;
  }

  .key {
    font-weight: bold;
    text-align: right;
    margin-right: 20px;
    flex: 1;
  }

  .value {
    flex: 4;
  }

  .time-availability-box {
    overflow-x: scroll;
    overflow-y: hidden;
  }
}

.time-availability-table {
  td:not(:first-child) {
    min-width: 50px;
    text-align: center;
  }

  tbody td:first-child {
    font-weight: bold;
  }

  tbody:before {
    content: "-";
    display: block;
    line-height: 1em;
    color: transparent;
  }

  input[type=checkbox] {
    position: relative;
    top: rem(-6);
    margin: 0 1rem 0 0 ;
    cursor: pointer;
    
    &:before {
      transition: all .1s ease-in-out;
      -webkit-transition: all .1s ease-in-out;
      
      content: "";
      position: absolute;
      left: -2px;
      top: -5px;
      z-index: 1;
      width: 1.2rem;
      height: 1.2rem;
      border: 2px solid white; 
    }
    
    &:checked {
      &:before {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);

        left: 0;
        top: 0;
        width: 1rem;    
        height: .5rem;
        border-color: #009688;
        border-top-style: none;
        border-right-style: none;
      } 
    }
    
    &:after {
      content: "";
      
      position: absolute;
      top: rem(-2);
      left: 0;
      width: 1.1rem;
      height: 1.1rem;
      background: #fff;
      cursor: pointer;
      border-radius: 2px;
      box-shadow: inset 1px 1px 3px #777;
    }
  }
}

/* Edit Profile Form */

#edit-profile-form {
  width: 100%;
  background-color: #4DB6AC;
  border-radius: 2px;
  box-shadow: #AAA 2px 2px 10px;
  padding: 20px 20%;
  box-sizing: border-box;

  div {
    width: 100%;
    margin: 20px 0;
    display: flex;
    align-items: center;
  }

  label {
    flex: 1;
    text-align: right;
    color: #FFF;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
  }

  input[type="text"], textarea {
    flex: 3;
    border: 1px solid #4DB6AC;
  }

  input[type="submit"] {
    margin: 0 auto;
    display: block;
  }

  .time-availability-box {
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .time-availability-table {
    color: white;

    td:not(:first-child) {
      min-width: 50px;
      text-align: center;
    }

    tbody td:first-child {
      font-weight: bold;
    }

    tbody:before {
      content: "-";
      display: block;
      line-height: 1em;
      color: transparent;
    }

    input[type=checkbox] {
      position: relative;
      top: rem(-6);
      margin: 0 1rem 0 0 ;
      cursor: pointer;
      
      &:before {
        transition: all .1s ease-in-out;
        -webkit-transition: all .1s ease-in-out;
        
        content: "";
        position: absolute;
        left: -2px;
        top: -5px;
        z-index: 1;
        width: 1.2rem;
        height: 1.2rem;
        border: 2px solid #4DB6AC; 
      }
      
      &:checked {
        &:before {
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);

          left: 0;
          top: 0;
          width: 1rem;    
          height: .5rem;
          border-color: #009688;
          border-top-style: none;
          border-right-style: none;
        } 
      }
      
      &:after {
        content: "";
        
        position: absolute;
        top: rem(-2);
        left: 0;
        width: 1.1rem;
        height: 1.1rem;
        background: #fff;
        cursor: pointer;
        border-radius: 2px;
        box-shadow: inset 1px 1px 3px #777;
      }
    }
  }
}
