body {
  background-color: #f2f2f2;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 0px;
}

p, ol, ul, td {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 10px;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  margin: 30px 0px;
  padding: 20px;
  background-color: #FFF;
  border-radius: 2px;
  border-left: 3px solid #4DB6AC;
  box-shadow: #DDD 2px 2px 10px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

th {
  padding-bottom: 5px;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: inline-block;
  margin-right: 5px;
}

input[type="text"], textarea {
  padding: 5px;
  box-shadow: inset 2px 2px 5px 0px #DDD;
  border-radius: 5px;
  border: 1px solid #AAA;
  font-family: 'Open Sans', sans-serif;
}
